
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;   
}
body{
    background-color: blanchedalmond;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
}
.contFour{
    width: 100%;
    height: auto;
    background-color: rgb(3, 3, 3);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.boxFour{
    width: 22%;
    height: 300px;
    background-color: blueviolet;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 2%;
}
.contThree{
    width: 100%;
    height: auto;
    background-color: rgb(3, 3, 3);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.boxThree{
    width: 30%;
    height: auto;
    background-color: blueviolet;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 2%;
}
.contTwo{
    width: 100%;
    height: auto;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.boxTwo{
    width: 47%;
    height: auto;
    background-color: rgb(137, 62, 156);
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5%;
}
.contOne{
    width: 100%;
    height: auto;
    background-color: rgb(3, 3, 3);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.boxOne{
    width: 97%;
    height: auto;
    background-color: blueviolet;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: .8%;
}
.cont-img{
    display: flex;
    justify-content: center;
}
.cont-img img{
    position: relative;
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
.cont-text{
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
}
.title-principal{
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 6.5em;
    text-align: center;
}
.title{
    margin-top: 3%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 3.5em;
    text-align: center;
    max-width: 100%;
}
.para{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.5em;
    text-align: left;
}
.cont-text a{
    color: #000000;
    border-radius: 3.5%;
    -webkit-border-radius: 3.5%;
    -moz-border-radius: 3.5%;
    -ms-border-radius: 3.5%;
    -o-border-radius: 3.5%;
    font-family: 'Didact Gothic', sans-serif;
    margin-bottom: 2%;
}
.cont-text a :hover{
    padding-left: 1%;
    background-color: blanchedalmond;
    color: black;
    border-radius: 2%;
}
.button{
    margin-left: 38%;
}
.button li a{
    background-color: blue;
    padding: 14px 28px;
    display: inline-block;
    color: #b1efaa;
    font-family: 'Didact Gothic', sans-serif;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.button li a:hover{
    background-color: rgb(153, 184, 210);
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

@media screen and (max-width:1200px) {
    .boxFour{
        width: 40%;
    } 
    .boxThree{
        width: 40%;
    } 
    .boxTwo{
        width: 40%;
    } 
    .boxOne{
        width: 40%;
    } 
    .title-principal{
        font-size: 3.5em;
    }
    .title{
        font-size: 1.7em;
    }
    .para{
        font-size: 1.3em;
    }
}
@media screen and (max-width:600px) {
    .boxFour{
        width: 90%;
    } 
    .boxThree{
        width: 90%;
    } 
    .boxTwo{
        width: 90%;
    } 
    .boxOne{
        width: 90%;
    } 
    .title-principal{
        font-size: 3em;
    }
    .title{
        font-size: 1.5em;
    }
    .para{
        font-size: 1em;
    }
}


------------------------------------------------------------------------------------------------------------------------------------------

.pie-pagina{
    width: 100%;
    background: #2b5876; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2b5876, #4e4376); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2b5876, #4e4376); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}
.pie-pagina .grupo-1 .box-footer figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.pie-pagina .grupo-1 .box-footer figure img{
    border-radius: 5%;
    width: 150px;
    margin-top: 35%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.pie-pagina .grupo-1 .box-footer h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
}
.pie-pagina .grupo-1 .box-footer p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social{
    margin-bottom: 2.5%;
    display: flex;
}
.pie-pagina .grupo-1 .red-social p{
   margin-top: 3%;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(0, 0, 0);
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
    font-family: 'Didact Gothic', sans-serif;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}